@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: 70px 70px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  background-color: #fcfaf2;
}

/* .box::after{
  content:url('../public/vite.svg'); 
  position:relative; 
  z-index:100000; 
  left:-50px;
  top:10px;
} */

